<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1>Edit Form</h1>
    </header>
    <main>
      <form method="POST" action="/users/<%= user._id%>">
        <input
          type="text"
          name="username"
          placeholder="username"
          value="<%= user.username %>"
        />
        <input
          type="text"
          name="name"
          placeholder="name"
          value="<%= user.name %>"
        />
        <input
          type="email"
          name="email"
          placeholder="email"
          value="<%= user.email %>"
        />
        <input
          type="password"
          name="password"
          placeholder="password"
          value="<%= user.password %>"
        />
        <button type="submit">Update User</button>
      </form>
    </main>
  </body>
</html>
