<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>User form</h1>
    <form action="/users/<%= user._id%>" method="POST">
      <input
        type="text"
        placeholder="name"
        name="name"
        value="<%= user.name %>"
      />
      <input
        type="email"
        placeholder="email"
        name="email"
        value="<%= user.email %>"
      />
      <input type="text" placeholder="age" name="age" value="<%= user.age %>" />
      <input
        type="text"
        placeholder="address"
        name="address"
        value="<%= user.address %>"
      />
      <input type="text" placeholder="bio" name="bio" value="<%= user.bio %>" />
      <input
        type="text"
        placeholder="hobbies"
        name="hobbies"
        value="<%= user.hobbies %>"
      />

      <button type="submit">Update</button>
    </form>
  </body>
</html>
